.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 10px 0;
  color: white;
  display:flex;
}

.App-title {
  font-size: 1.5em;
  padding:0 10px;
  margin: 0 auto;
  justify-content: center;
}

.hamburger-menu{
  padding: 0 0 0 20px;
  display: inline-block;
  align-self: center;
  cursor:pointer;
}

.hamburger-menu:hover{
  background: lighten(white, 10%);
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  transform: scale(1.1);
  transition: all .2s ease;
}

.restaurant-list {
  position: absolute;
  background: #494949;
  color: white;
  height: calc(100% - 48px);
  width: 30%;
  max-width: 347px;
  min-width: 207px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
  overflow:scroll;
}

.menu-hidden{
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s;
}

.filter {
  width: 90%;
  font-size:1.2em;
  font-family:sans-serif;
}

.filter-title{
  line-height: 2;
  font-size:1.25em;
}

.location-list{
  list-style-type: none;
  padding: 0;
  text-align:left;
  margin-right:1px;
}
.location-item{
  Border: 1px solid grey;
  padding: 10px;
  cursor:pointer;
  text-align: left;
}
.location-item:hover{
  background: lighten(white, 10%);
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  Border: 2px solid white;
  transition: all .2s ease;
  border-collapse: collapse
}

.map{
  margin-left:30%;
  height:calc(100vh - 48px);
  transition: all 0.2s;
}

.full-width-map{
  margin: 0 !important;
  transition: all 0.5s;
}

@media screen and (max-width: 405px) {
  .App-title{
    font-size:1em;
  }
  .hamburger-menu div{
    width:13px !important;
  }
  .hamburger-menu{
    padding-left:10px;
  }
  .restaurant-list {
    height: calc(100% - 38px);
  }
  .map{
    height:calc(100vh - 38px);
  }
}

@media screen and (min-width: 405px) and (max-width: 466px) {
  .App-title{
    font-size:1.25em;
  }
  .restaurant-list {
    height: calc(100% - 33px);
  }

}

@media screen and (min-width: 1156.66666667px) {
  .map{
    margin-left:347px;
  }
}

@media screen and (max-width: 690px){
  .map{
    margin-left: 207px;
  }
}